*{
  font-family: "Roboto", serif;
}

.container{
   max-width: 100%;
}

.app{
  height: 100vh;
   display: flex;
   flex-direction: column;
}

.body{
  flex-grow: 1;
}

.h-links{
   text-decoration: none;
   color: white;
   padding: 2px 10px;
   margin-left: 15px;
   font-weight: bold;
}
.h-links:hover{
  text-decoration: underline;
}